body {
  margin: 0;
  background-color: cadetblue;
}
ul {
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

:link{
  text-decoration: none;
 
}
.links{
  color: cornsilk;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
